<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/oficialParqueo/index.css" />
  </head>
  <body>
    <nav class="navegador">
      <div class="logo">ULACIT Parking</div>
      <div class="nav-items">
        <a href="">Home</a>
        <a href="">Acerca de</a>
        <a href="">Contáctanos</a>
      </div>
    </nav>

    <div class="column-left">
      <h3>Seleccione la opción deseada:</h3>
    </div>

    <div class="hero-container">
      <div class="column-button">
        <a href="oficialReporte.html">
          <button>Reporte de parqueos</button>
        </a>
      </div>

      <div class="login-container">
        <form id="login-form">
          <label for="username">Selecciones el parqueo:</label><br />
          <select name="parqueo">
            <option value="norte">Parqueo norte</option>
            <option value="este">Parqueo este</option>
            <option value="oeste">Parqueo oeste</option>
          </select>
          <br />
          <br />
          <a href="semaforo.html"
            ><button class="login-button" type="button">
              Registrar entrada / salida de vehículos
            </button></a
          >
        </form>
      </div>
    </div>

    <section></section>
  </body>
</html>
