<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/oficialParqueo/index.css" />
  </head>
  <body>
    <nav>
      <div class="logo">ULACIT Parking</div>
      <div class="nav-items">
        <a href="">Home</a>
        <a href="">Acerca de</a>
        <a href="">Contáctanos</a>
      </div>
    </nav>

    <div class="column-left">
      <h3>Seleccione la opción deseada:</h3>
    </div>

    <div class="hero-container">
      <div class="imagen">
        <img src="../assets/images/ulacitfondo.jpg" alt="" />
      </div>

      <div class="column-button">
        <a href="semaforo.html">
          <button>Registrar entrada / salida de vehículos</button>
        </a>
      </div>

      <div class="login-container">
        <form id="login-form">
          <label for="username">Número de parqueo:</label><br />
          <input type="text" id="username" name="username" /><br /><br />
          <a href="oficialReporte.html"
            ><button class="login-button" type="button">Consultar</button></a
          >
        </form>
      </div>
    </div>

    <section></section>
  </body>
</html>
