<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/oficialReporte/index.css" />
  </head>
  <body>
    <script>
      function myFunction() {
        document.getElementById("demo").innerHTML = "Espacios disponibles: 15";
      }
    </script>
    <nav>
      <div class="logo">ULACIT Parking</div>
      <div class="nav-items">
        <a href="">Home</a>
        <a href="">Acerca de</a>
        <a href="">Contáctanos</a>
      </div>
    </nav>

    <div class="column-left">
      <h3>Consulta de espacios por parqueo</h3>
    </div>

    <div class="hero-container">
      <div class="imagen">
        <img src="../assets/images/ulacitfondo.jpg" alt="" />
      </div>

      <div class="login-container">
        <form id="login-form">
          <label for="username">Número de parqueo: 123</label><br />

          <p id="demo" show>Espacios regulares disponibles: 34</p>
          <p id="demo" show>Espacios de moto disponibles: 17</p>
          <p id="demo" show>Espacios ley 7600 disponibles: 3</p>
          <p id="demo" show>Capacidad de espacios total: 130</p>
        </form>
      </div>
    </div>

    <section></section>
  </body>
</html>
