<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/oficialReporte/index.css" />
  </head>
  <body>
    <nav>
      <div class="logo">ULACIT Parking</div>
      <div class="nav-items">
        <a href="">Home</a>
        <a href="">Acerca de</a>
        <a href="">Contáctanos</a>
      </div>
    </nav>

    <div class="column-left">
      <h3>Reporte de espacios por parqueo</h3>
    </div>

    <div class="hero-container">
      <div class="imagen">
        <img src="../assets/images/ulacitfondo.jpg" alt="" />
      </div>

      <div class="login-container">
        <form id="login-form">
          <select name="parqueo">
            <option value="norte">Parqueo norte</option>
            <option value="este">Parqueo este</option>
            <option value="oeste">Parqueo oeste</option>
          </select>
          <br />
          <button class="login-button" type="button">Consultar parqueo</button>
          <p></p>
          <p id="demo1">Espacios regulares disponibles: 34</p>
          <p id="demo2">Espacios de moto disponibles: 17</p>
          <p id="demo3">Espacios ley 7600 disponibles: 3</p>
          <p id="demo4">Capacidad de espacios total: 130</p>
        </form>
      </div>
    </div>

    <section></section>
  </body>
</html>
