<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="../styles/main/index.css" />
  </head>
  <body>
    <nav class="navegador">
      <div class="logo">ULACIT Parking</div>
      <div class="nav-items">
        <a href="#">Home</a>
        <a href="#">Acerca de</a>
        <a href="#">Contáctanos</a>
      </div>
    </nav>
    <div class="hero-container">
      <div class="column-left">
        <h1>Cambiar Contraseña</h1>
        <p>Por favor, ingrese su nueva contraseña.</p>
      </div>
      <div class="login-container">
        <form id="password-change-form">
          <label for="new-password">Nueva Contraseña:</label><br />
          <input
            type="password"
            id="new-password"
            name="new-password"
            required
          /><br /><br />
          <button type="submit" id="change-password-button">
            Cambiar Contraseña
          </button>
        </form>
      </div>
    </div>
    <section></section>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script src="../server/api/supabaseClient.js"></script>
    <script src="../server/api/session.js"></script>
    <script src="../server/api/passwordChange.js"></script>
  </body>
</html>
