<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/semaforo/index.css" />
  </head>
  <body>
    <nav class="navegador">
      <div class="logo">ULACIT Parking</div>
      <div class="nav-items">
        <a href="">Home</a>
        <a href="">Acerca de</a>
        <a href="">Contáctanos</a>
      </div>
    </nav>

    <div class="column-left">
      <h3>Registro de vehículos al parqueo</h3>
    </div>

    <div class="hero-container">
      <div class="login-container">
        <form id="login-form">
          <label for="username">Placa del vehículo: </label><br />
          <input type="text" id="placa" name="placa" /><br /><br />

          <button class="login-button" type="submit">Registrar vehículo</button>
        </form>
      </div>
      <div class="semaforo">
        <div><span id="rojo" class="dot"></span></div>
        <div><span id="verde" class="dot"></span></div>
      </div>
    </div>

    <section></section>
  </body>
</html>
