<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ULACIT Parking</title>
    <link rel="stylesheet" href="../../styles/Estudiantes/index.css">
</head>
<body>
    <div class="container">
        <h1>ULACIT Parking</h1>
        <p>Seleccione el tipo de reporte que desea ver:</p>
        <a href="oficialParqueo.html" class="button">Espacios Disponibles</a>
        <a href="estudiantesreport.html" class="button">Reporte de Vehículos</a>
    </div>
</body>
</html>





