<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/EstudiantesReport.css/index.css" />
  </head>
  <body>
    <script>
      function myFunction() {
        document.getElementById("demo").innerHTML = "Espacios disponibles: 15";
      }
    </script>
    <nav>
      <div class="logo">ULACIT Parking</div>
      <div class="nav-items">
        <a href="">Home</a>
        <a href="">Acerca de</a>
        <a href="">Contáctanos</a>
      </div>
    </nav>

    <div class="column-left">
      <h3>Reporte de Vehiculo para Estudiantes</h3>
    </div>

    <div class="hero-container">
      <div class="imagen">
        <img src="../assets/images/ulacitfondo.jpg" alt="" />
      </div>

      <div class="login-container">
        <form id="login-form">
          <label for="username"></label><br />

          <p id="demo" show>Placa ABC123</p>
          <p id="demo" show>Tipo de vehiculo: Toyota</p>
          <p id="demo" show>Color: Rojo</p>
          <p id="demo" show>Hora de ingreso: 08:30 a.m</p>
        </form>
      </div>
    </div>

    <section></section>
  </body>
</html>