<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Menu Administrador</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../styles/Administrador/menus.css">
</head>
<body>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-8">
        <div class="card text-center">
            <div class="card-header">
                <h2>Menu Administrador</h2>
            </div>
            <div class="card-body">
                <div class="btn-container">
                    <a href="crudAdminUser.html" class="btn btn-primary btn-lg btn-block">Administrar Usuarios</a>
                    <a href="crudAdminVehiculo.html" class="btn btn-secondary btn-lg btn-block">Administrar Vehículos</a>
                    <a href="crudAdminParqueo.html" class="btn btn-success btn-lg btn-block">Administrar Parqueo</a>
                    <a href="menuReportesSistema.html" class="btn btn-info btn-lg btn-block">Reportes Sistema</a>
                    <a href="../index.html" class="btn btn-danger btn-lg btn-block">Salir</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
