@font-face {
  font-family: "CustomFont";
  src: url("../../assets/Fonts/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "CustomFont";
}

body {
  background-color: #5900b3;
  overflow: hidden;
}

nav {
  height: 80px;
  background: #5900b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
  font-size: large;
}

.logo {
  color: white;
  font-size: 2.3rem;
  font-weight: bold;
  padding: 0 2rem;
}

.imagen {
  width: 100%;
  height: 100%;
  background-color: #5900b3;
  filter: blur(3px);
  display: flex;
  position: absolute;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0 2rem;
}

.login-container {
  border-radius: 10px;
  font-size: 1.2rem;
  display: flex;
  background-color: rgb(221, 132, 16);
  position: relative;
  top: 250px;
  left: 410px;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 500px;
  padding: 20px;
  text-align: left;
  margin-bottom: 10px;
}

.column-left {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: left;
  margin-bottom: 10px;
}

.column-parrafos {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  padding: 20px;
  text-align: left;
  margin-bottom: 10px;
}
.prueba {
  position: relative;
  top: 150px;
  left: 160px;
}

.column-button {
  font-weight: bold;
  position: relative;
  top: 150px;
  left: 160px;
  z-index: 2;
  width: 945px;
  padding: 0px;
  text-align: left;
  margin-bottom: 20px;
}
.login-button {
  width: 460px;
}
button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: white;
  background: #400080;

  cursor: pointer;
}

button:hover {
  background: #a64dff;
  color: white;
}
.dot {
  height: 200px;
  width: 200px;
  margin: auto;
  border-radius: 50%;
  display: inline-block;
}

#rojo {
  background-color: rgb(71, 0, 0);
}

#rojo:hover {
  background-color: red;
}

#verde {
  background-color: rgb(0, 43, 0);
}

#verde:hover {
  background-color: green;
}

.semaforo {
  border-radius: 10px;
  font-size: 1.2rem;
  display: flex;
  background-color: black;
  position: relative;
  top: 113px;
  left: 950px;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 440px;
  height: 230px;
  align-items: center;
  padding: 20px;

  margin-bottom: 10px;
}
